<div class="container-fluid home" style="" id="home">
  <div class="image-container2">
    </br>
      
      
    <div class="banner-content">
      <h1 style="font-size:20px; margin-left: 100px; line-height: 1.3; width: 350px; font-weight: 300;">Every year, nearly 2 million new people will develop lung cancer, and over a quarter of a million will die.</h1>    
      <h1 style="font-size:45px; margin-left: 100px; line-height: 1.05; width: 500px; font-weight: 100;">What if the war on cancer had already been won?</h1>
      
      </br>
    </div>
  </div>

<div id="about" class="container-fluid" id="about" style="padding-left: 50px;">
  <div class="row">

    <div class="col-md-6" id="main-about">
      <h1 style="font-size: 30px; font-weight: 300; line-height: 1.2;"><b><i>CimaVax</i></b></br>Lung cancer vaccine from Cuba</h1>
      
      <p style="font-size: 15px; line-height: 1.42857143; color: #333;">Every year, nearly 2 million new people will develop lung cancer, and over a quarter of a million will die. The vast majority - over 85% - of all new lung cancer sufferers will be active smokers. For them, their habit is literally a matter of life and death.
      </p>
    <p style="font-weight: 300; line-height: 1.4; font-size: 21px;">
    For over 30 years, the nation of Cuba has treated over 5,000 lung cancer patients at a cost of only $1 per treatment. Using a unique form of treatment called immunotherapy, the vaccine, CimaVax, supercharges the patient’s own immune system to combat the disease. Strengthening the body to fight the disease on its own minimizes and, in some cases, eliminates side effects.
    </p>
    <p style="font-size: 15px; line-height: 1.42857143; color: #333;">Only since the U.S. has opened up flights to Cuba in 2016 has the rest of the world discovered what only a handful of patients have known for decades. 
    </p>
    <p style="font-size: 15px; line-height: 1.42857143; color: #333;">No one has to suffer or die from a disease that can be 100% manageable - and, perhaps, even preventable.
    </p>
    <p style="font-size: 15px; line-height: 1.42857143; color: #333;">Navigating the Cuban medical system is extremely difficult for foreigners and getting access to the right treatment even more so. We are a team of physicians, scientists and entrepreneurs that want to make easier for everyone to gain access to these life-saving treatments without all the hassle.
    </p>
    <p style="font-size: 15px; line-height: 1.42857143; color: #333;">We help you with flights, accommodation, travel instructions, process your medical records, connect you with medical personel upon arrival, analyze your case to get you the best price with local physicians and most importantly set you up to receive ample doses of CimaVax for your condition.  
    </p>
    </div>                                     
    
    <div class="col-md-6" id="aside-about">
      <h1 style="font-size: 26px; font-weight: 300; line-height: 1.2;">Fill out this form to have one our team members contact you with more information on how to gain access to CimaVax</h1>
      </br>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fund.errors.count, "error") %> prohibited this fund from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, "First Name" %><br>
    <%= f.text_field :first_name, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name, "Last Name" %><br>
    <%= f.text_field :last_name, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Get more information", class:"btn btn-lg btn-primary" %>
  </div>
  <p style="font-size:10px;">We will contact you with more information about CIMAVAX and how our process works.</p>
<% end %>
    </div>

  </div>
</div>
</div>
</br>
</br>
