<div class="container-fluid home" style="font-family: 'Open Sans', sans-serif;" id="home">
  <div class="image-container1">
    </br>
        </br>
        
       
        
    <div class="col-sm-10 col-sm-offset-1 banner-content">
      </br>
      </br>
      <h1 style="font-size:50px; font-family: 'Montserrat', sans-serif;"><%= image_tag("logo2.png", :style => "margin-top: -3px;") %></h1>
    </br>
    </br>
    <hr style="border-color: white;">
    </br>
      <h1 style="font-size:28px;"><i>Cutting edge biomedical technologies for all</i></h1>
      
      </br>
    </div>
  </div>

<div id="about" class="container-fluid" id="about">
  <div class="row">
</br>
</br>
<div class="col-md-12" id="main-about" style="margin-bottom: 50px;">
    <div class="col-md-6" id="main-about">
      <h1 style="font-family: 'Montserrat', sans-serif; font-size: 24px;">Who We Are</h1>
      <p style="font-size: 17px;">Ascendance Biomedical is a novel corporation founded with an ambitious goal in mind: We want to make it easier for everyone to gain access to life-saving treatments - without the hassle. We are a team of physicians, scientists and entrepreneurs unified in the mission to save and improve lives. </br>
      </p>
    </div>
    <div class="col-md-6" id="main-about">
      <div style="text-align:center;">
        <%= image_tag('treatment_icon.png', id: 'blah', class: 'media-img', alt: 'About', :style => "width:70%; border-radius:5%") %>
      </div> 
    </div>
  </div>
      
  <div class="col-md-12" id="main-about" style="margin-bottom: 50px;">
    <div class="col-md-6" id="main-about">
      <div style="text-align:center;">
        <%= image_tag('medicine_icon.png', id: 'blah', class: 'media-img', alt: 'About', :style => "width:70%; border-radius:5%") %>
      </div> 
    </div>
    <div class="col-md-6" id="main-about">
      <h1 style="font-family: 'Montserrat', sans-serif; font-size: 24px;">What we provide</h1>
      <p style="font-size: 17px;">Ascendance Biomedical provides products and services which enable our customers to access the most cutting-edge biomedical technologies & treatments in the world. Working with clinics, physicians and scientists all over the world in all regulatory zones, we help you get the care that you need.                                   
      </p>
    </div>
  </div>

    <div class="col-md-12" id="main-about" style="margin-bottom: 50px;">
    <div class="col-md-6" id="main-about">
      <h1 style="font-family: 'Montserrat', sans-serif; font-size: 24px;">All inclusive</h1>
      <p style="font-size: 17px;">We do not only provide pharmaceuticals or medical care, but we also help you with flights, accommodation, travel instructions, process your medical records, connect you with medical personnel upon arrival, analyze your case to get you the best price with local physicians and - most importantly - set you up to receive required pharmaceuticals and interventions for your condition. Ascendance Biomedical offers not just products, but all-inclusive healthcare solutions for patients world-wide.
      </p>
    </div>
    <div class="col-md-6" id="main-about">
      <div style="text-align:center;">
        <%= image_tag('doctor_icon.png', id: 'blah', class: 'media-img', alt: 'About', :style => "width:70%; border-radius:5%") %>
      </div> 
    </div>
  </div>


  </div>
</div>
</br>
</br>
</br>
</br>
</div>
 <div class="col-sm-12 image-container3" style="background-color: white;" id="contact">

  <div class="row" style="text-align:center;"> 

    <div class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">

      </br>
      </br>
      </br>
      </br>
      
      <div class="row" style="text-align:center;"> 
        <div class="service-box col-sm-6">
            
            <h2 style="font-size: 24px; font-family: 'Montserrat', sans-serif;">
             More Information
            </h2>
            info@ascendancebiomedical.com
            </br>
        </div>

        <div class="service-box col-sm-6">
            
            <h2 style="font-size: 24px; font-family: 'Montserrat', sans-serif;">
              Current Customers
            </h2>
              support@ascendancebiomedical.com
            </br>
        </div>     
      </div>
      </br>
      </br>
       </br>
      </br>
      </br>
    </div>
  </div>
</div>


 <div class="col-sm-12 home_steps" id="team">

  <div class="row" style="text-align:center; color:white;"> 

    <div class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">

      <div style="color: black; text-align: center;">
        </br>
        </br>
        </br>
        </br>
        <h1 style="font-size:42px; font-family: 'Montserrat', sans-serif;">Treatment Services</h1>
        </br>

        <p style="font-size:22px; font-family: 'Montserrat', sans-serif;">More Coming Soon</h1>
      </div>

      </br>
      </br>
     

      <div class="row" style="text-align:center; color:white;"> 
        <%= link_to cimavax_path do %>
          <div class="service-box col-sm-4">
              <div>
                  <%= image_tag('lung_icon.png', id: 'blah', class: 'media-img', alt: 'About', :style => "width:55%; border-radius:50%") %>
              </div>                 
              </br>
              <p style="font-size: 24px; font-family: 'Montserrat', sans-serif; color: black;">
                  Cimavax (January 2017)
              </p>
          </div>
        <% end %>

        <div class="service-box col-sm-4">
            <div>
                <%= image_tag('ovaries_icon.png', id: 'blah', class: 'media-img', alt: 'About', :style => "width:55%; border-radius:50%") %>
            </div>                 
            </br>
            <p style="font-size: 24px; font-family: 'Montserrat', sans-serif; color: black;">
                Ovarian Rejuvenation (February 2017)
            </p>
        </div>
         <div class="service-box col-sm-4">
            <div>
                <%= image_tag('cancer_icon.png', id: 'blah', class: 'media-img', alt: 'About', :style => "width:55%; border-radius:50%") %>
            </div>                 
            </br>
            <p style="font-size: 24px; font-family: 'Montserrat', sans-serif; color: black;">
                Senolytics (March 2017)
            </p>
        </div> 
      </div>
      </br>
      </br>
        </br>
      </br>
      </br>
      </br>
    </div>
  </div>
</div>
</div>
