<div class="container-fluid home" style="" id="home">
  <div class="image-container4">
    </br>
  
    <div class="banner-content">
      <div>
       <% flash.each do |key, value| %>
       <div class="alert alert-info" role="alert" style="width: 450px; margin-left:0px;"><%= value %></div>
      <% end %>
      </div>
      <h1 style="font-size:26px; margin-left: 45px; line-height: 1.3; width: 720px; font-weight: 300; font-align:left;">Presenting the world’s leading treatment for optimizing human health, longevity, and performance.</h1>  
      <h1 style="font-size:56px; margin-left: 45px; line-height: 1.05; width: 720px; font-weight: 100; font-align:left;">Senolytic Treatments</h1>
      </br>
    </div>
  </div>

<div id="about" class="container-fluid" id="about" style="padding-left: 50px;">
  <div class="row">

    <div class="col-md-6" id="main-about">
      <h1 style="font-size: 26px; font-weight: 300; line-height: 1.2;">Enroll today in the world’s first clinical trials to boost human performance and extend healthy human life.</h1>
      <p style="font-size: 15px; line-height: 1.42857143; color: #333;">Through careful analysis of military projects, our research team has acquired data showcasing over 75 FDA-approved compounds discovered through a multi-institutional research venture for the identification of life extension agents for soldiers. Intended to simultaneously increase the lifespan, as well as the peak physical and mental performance of our nation’s elite soldiers, the research was never taken to the level of human safety trials.
      </p>
      <p style="font-size: 15px; line-height: 1.42857143; color: #333;">At present, our team has taken on the task of examining the diversity of unresearched short-term and long-term performance-enhancing compounds contained in the report. While several of these compounds have promise to be applied in the civilian space, and all have been confirmed as safe for use in humans through the FDA, we believe that the strongest potential application for these agents is in their use in military food products, through partnerships with companies like Soylent and Joylent.
      </p>
      <h1 style="font-size: 26px; font-weight: 300; line-height: 1.2;">The Bucky-balls trials</h1>
      <p style="font-size: 15px; line-height: 1.42857143; color: #333;">Enrollment is currently open for trials to test “Bucky-balls” for their capacity to increase lifespan and maximize human performance. Cost of enrollment includes three blood tests, blood test analysis for detecting rate of biological age reversal using advanced machine learning protocols, and Buckminsterfullerene (also known as Fullerene-C60 and “Bucky-balls”)
      </p>
      <p style="font-size: 15px; line-height: 1.42857143; color: #333;">Trials are conducted from the comfort of your own home, blood testing is covered by most insurance at your local hospital, and all testing results delivered electronically. 90% purity buckyballs are delivered in three shipments, and combined with olive oil for ease of ingestion.
      </p>
      <p style="font-size: 15px; line-height: 1.42857143; color: #333;"><b><a href="http://www.ascendancebiomed.com/faq" style="font-size:16px;"><u>Learn More About The Trials Here</u></a></b><i>
      </p>
    </div>                                     
    
    <div class="col-md-6" id="aside-about">
    </br>
      <p style="font-size: 15px; line-height: 1.42857143; color: #333;">Sign up today to ensure access to new opportunities in all of our current and ongoing clinical trials.
      </p>
      </br>
     
<%= form_for(@user) do |f| %>
  <%= f.hidden_field :senolytics, :value => true %>
  <div class="form-group">
    <%= f.label :first_name, "First Name" %><br>
    <%= f.text_field :first_name, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name, "Last Name" %><br>
    <%= f.text_field :last_name, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Get more information", class:"btn btn-lg btn-primary" %>
  </div>
  <p style="font-size:10px;">We will contact you with more information about senolytic treatment options and how our process works.</p>
<% end %>
</br>
  <div class="col-md-12">
    <a href="http://www.forbes.com/sites/stevensalzberg/2015/03/16/a-true-fountain-of-youth-drug-combo/#6c002e4055c5" style="font-size:16px;"><u>“A True Fountain Of Youth”</u><i> - Forbes Magazine</i></a>
    </br>
    <div style="text-align:center;">
    <%= image_tag("forbes_logo.jpg") %>
  </div>
    </br>
    <a href="http://www.lifeextension.com/magazine/2015/ss/sweep-away-senile-cells/page-01" style="font-size:16px;"><u>“Scientists Have Confirmed…Purging Worn-Out - or Senescent - Cells Can Increase Longevity”</u><i> - Life Extension Magazine</i></a>
    </br>
  </br>
    <div style="text-align:center;">
    <%= image_tag("LE_logo.png") %>
  </div>
 

 </div>
  
  </div>
</div>
</div>
</br>
</br>
