<!DOCTYPE html>
<html>
<head>
  <title>MedicalTourism</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container yeh">
    <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="margin-top:3px;">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="font-family: 'Montserrat', sans-serif; font-size: 20px; color: #093954; margin-top:-5px;"><%= link_to image_tag("logo1.png", :style => "padding-top: 10px;"), '/' %></a>
    </div>

    <div class="navbar-container-right">
      
      <div class="collapse navbar-collapse", id="bs-example-navbar-collapse-1">

        <ul class="nav nav-pills navbar-right">

          <li>  
            <%= link_to 'Home', root_path %>
          </li>
          <li>  
            <%= link_to 'Cimavax', cimavax_path %>
          </li>
          <li>
            <%= link_to 'Ovarian (Coming Soon)', '#' %>
          </li>
          <li>
            <%= link_to 'Senolytics (Coming Soon)', '#' %>
          </li>
          
        </ul>
    </div>

    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
